######################### ALL #########################
.idea

########################## C ##########################

######################### CPP #########################

########################## CS #########################
cs/bin
cs/obj

######################### RUST ########################
